body{

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    text-align: center;
}
header{

    background: #333;
    color: white;
    padding: 15px 0;
}
nav ul{

    list-style: none;
    padding: 0;
}
nav ul li{

    display: inline;
    margin: 0 15px;
}
nav ul li a{

    text-decoration: none;
    color: white;
}
.hero{
background: url("/Music-player/image/1.jpg") no-repeat center center/cover;
color: white;
padding: 50px 0;

}